.blue {
    border-bottom: 5px solid #2EE59D;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testSpanError {
    color: blue;
}

.tab {
    height: 130px;
    width: 150px;
    background-color: #ebebee;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #d0cecc;
}

.HW9 {
    height: 45px;
}

.HW10 {
    height: 150px;
    width: 150px;
}

.HW10button {
     margin-top: 40px;
}